body{
    background-image: url("../images/world1.jpg");
    background-repeat: repeat;
    color: balck;
}

#quiz-area{
    background-color: #F0F0F0; 
    text-align: center;
    margin: 0 auto;
    width: 50%;
    border-radius: 30px;
}

button {
    display: block;
    max-width: 300px;
    margin: 10px auto;
    }

h1, h2, p{
    text-align: center;
}
#start{
position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


    
}
